html{
    display: block;
}

body{
    background-color: lightpink;  
    margin:40px 30px;
    width: 50pc;
    height:20pc;
    text-align: center;
    background-image: url(https://pixabay.com/link/?ua=cd3%3Dimage%26cd7%3Den%253Acherry%2Bblossom%253AUSA%26ec%3Dapi_ad%26ea%3Dnavigate%26el%3Dgetty%26tid%3DUA-20223345-1%26dr%3Dhttps%253A%252F%252Fpixabay.com%252Fimages%252Fsearch%252Fcoding%252F&next=https%3A%2F%2Fwww.istockphoto.com%2Fphoto%2Fpink-cherry-blossoms-gm155356833-19271499%3Futm_source%3Dpixabay%26utm_medium%3Daffiliate%26utm_campaign%3DSRP_image_sponsored%26utm_content%3Dhttp%253A%252F%252Fpixabay.com%252Fimages%252Fsearch%252Fcherry%252520blossom%252F%26utm_term%3Dcherry%2Bblossom&hash=b9eea6716e941de03d5b61620100ff38b766667d&=);
}

h1{
    text-align: center;
    background-color: lightseagreen;
    width: 50%;
    height: 50%;
    margin: 10px auto; 
}

#box1{
    width: 40%;
    height: 20%;
    background-color: lightseagreen;
    
}

#box2{
    width: 40%;
    height: 40%;
    background-color: lightseagreen;
    margin: 20px 10px 30px;

}

    