html{
    display: block;
}

body{
    background-color: lightpink;  
    margin:40px 30px;
    width: 50pc;
    height:20pc;
    text-align: center;
    background-image: url('/assets/images/cherry-blossom-background.jpg');
}

h1{
    text-align: center;
    background-color: lightseagreen;
    width: 50%;
    height: 50%;
    margin: 10px auto; 
}

#box1{
    width: 40%;
    height: 20%;
    background-color: lightseagreen;
    
}

#box2{
    width: 40%;
    height: 40%;
    background-color: lightseagreen;
    margin: 20px 10px 30px;

}

    